[Desktop Entry]
Name=Fiery
Name[ca]=Fiery
Name[ca@valencia]=Fiery
Name[pt]=Fiery
Name[uk]=Fiery
Name[x-test]=xxFieryxx
Comment=Web Browser and Manager
Comment[ast]=Restolador web y xestor
Comment[ca]=Navegador i gestor web
Comment[ca@valencia]=Navegador i gestor web
Comment[cs]=Webový prohlížeč a správce
Comment[de]=Webbrowser und Verwaltung
Comment[en_GB]=Web Browser and Manager
Comment[es]=Navegador y gestor web
Comment[fi]=Verkkoselain ja -hallinta
Comment[fr]=Navigateur et gestionnaire Internet
Comment[hu]=Webböngésző és kezelő
Comment[it]=Browser e gestore web
Comment[ko]=웹 브라우저와 관리자
Comment[my]=ဝက်ဘ် ဘရောက်ဇာ နှင့် မန်နေဂျာ
Comment[nl]=Webbrowser en beheerder
Comment[nn]=Nettlesar og filhandsamar
Comment[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ ਅਤੇ ਮੈਨੇਜਰ
Comment[pl]=Przeglądarka sieciowa wraz z zarządzeniem
Comment[pt]=Navegador Web e Gestor
Comment[pt_BR]=Navegador Web e gerenciador
Comment[ro]=Gestionar și navigator web
Comment[sk]=Webový prehliadač a správca
Comment[sl]=Spletni brskalnik in upravljalnik
Comment[sv]=Webbläsare och hanterare
Comment[tr]=Web Tarayıcı ve Yönetici
Comment[uk]=Програма для перегляду і керування сторінками інтернету
Comment[x-test]=xxWeb Browser and Managerxx
Comment[zh_CN]=网页浏览器和管理器
TryExec=fiery
Exec=fiery %U
Terminal=false
Type=Application
Categories=Qt;KDE;Network;WebBrowser;
GenericName=Web Browser
GenericName[ast]=Restolador web
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur Internet
GenericName[hu]=Webböngésző
GenericName[it]=Browser web
GenericName[ko]=웹 브라우저
GenericName[my]=ဝက်ဘ်ဘရောက်ဇာ
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka sieciowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator web
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач інтернету
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Icon=fiery
