[Desktop Entry]
Name=Sol
Comment=Web Browser and Manager
TryExec=Sol
Exec=Sol %U
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;Web;
GenericName=Web Browser
StartupNotify=true
Icon=maui-sol
