[Desktop Entry]
Name=Fiery
Name[ca]=Fiery
Name[ca@valencia]=Fiery
Name[cs]=Fiery
Name[de]=Fiery
Name[en_GB]=Fiery
Name[eo]=Fiery
Name[es]=Fiery
Name[eu]=Fiery
Name[fi]=Fiery
Name[fr]=Fiery
Name[gl]=Fiery
Name[he]=Fiery
Name[it]=Fiery
Name[ka]=Fiery
Name[ko]=Fiery
Name[nl]=Fiery
Name[pl]=Fiery
Name[pt]=Fiery
Name[pt_BR]=Fiery
Name[sa]=अग्निमयम्
Name[sk]=Fiery
Name[sl]=Fiery
Name[sv]=Fiery
Name[tr]=Fiery
Name[uk]=Fiery
Name[x-test]=xxFieryxx
Name[zh_TW]=Fiery
Comment=Web Browser and Manager
Comment[ca]=Navegador i gestor web
Comment[ca@valencia]=Navegador i gestor web
Comment[cs]=Webový prohlížeč a správce
Comment[de]=Webbrowser und Verwaltung
Comment[en_GB]=Web Browser and Manager
Comment[eo]=Reta Foliumilo kaj Administrilo
Comment[es]=Navegador y gestor web
Comment[eu]=Web arakatzaile eta kudeatzailea
Comment[fi]=Verkkoselain ja -hallinta
Comment[fr]=Navigateur et gestionnaire Internet
Comment[gl]=Navegador e xestor web.
Comment[he]=דפדפן ומנהל
Comment[hu]=Webböngésző és kezelő
Comment[it]=Browser e gestore web
Comment[ka]=ვებ ბრაუზერი და მმართველი
Comment[ko]=웹 브라우저와 관리자
Comment[my]=ဝက်ဘ် ဘရောက်ဇာ နှင့် မန်နေဂျာ
Comment[nl]=Webbrowser en beheerder
Comment[nn]=Nettlesar og filhandsamar
Comment[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ ਅਤੇ ਮੈਨੇਜਰ
Comment[pl]=Przeglądarka sieciowa wraz z zarządzeniem
Comment[pt]=Navegador Web e Gestor
Comment[pt_BR]=Navegador Web e gerenciador
Comment[ro]=Gestionar și navigator web
Comment[sa]=जालपुटं प्रबन्धकं च
Comment[sk]=Webový prehliadač a správca
Comment[sl]=Spletni brskalnik in upravljalnik
Comment[sv]=Webbläsare och hanterare
Comment[tr]=Web tarayıcısı ve yöneticisi
Comment[uk]=Програма для перегляду і керування сторінками інтернету
Comment[x-test]=xxWeb Browser and Managerxx
Comment[zh_CN]=网页浏览器和管理器
Comment[zh_TW]=網頁瀏覽器與整理器
TryExec=fiery
Exec=fiery %U
Terminal=false
Type=Application
Categories=Qt;KDE;Network;WebBrowser;
GenericName=Web Browser
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[en_GB]=Web Browser
GenericName[eo]=Retumilo
GenericName[es]=Navegador web
GenericName[eu]=Web arakatzailea
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur Internet
GenericName[gl]=Navegador web
GenericName[he]=דפדפן
GenericName[hu]=Webböngésző
GenericName[it]=Browser web
GenericName[ka]=ვებ-ბრაუზერი
GenericName[ko]=웹 브라우저
GenericName[my]=ဝက်ဘ်ဘရောက်ဇာ
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka sieciowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator web
GenericName[sa]=जाल ब्राउज़र
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[tr]=Web Tarayıcısı
GenericName[uk]=Переглядач інтернету
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Icon=fiery
