[Desktop Entry]
Name=Sol
Name[ast]=Sol
Name[ca]=Sol
Name[ca@valencia]=Sol
Name[cs]=Sol
Name[de]=Sol
Name[en_GB]=Sol
Name[es]=Sol
Name[fi]=Sol
Name[fr]=Sol
Name[hu]=Sol
Name[it]=Sol
Name[nl]=Sol
Name[nn]=Sol
Name[pl]=Sol
Name[pt]=Sol
Name[pt_BR]=Sol
Name[sk]=Sol
Name[sl]=Sol
Name[sv]=Sol
Name[uk]=Sol
Name[x-test]=xxSolxx
Comment=Web Browser and Manager
Comment[ast]=Restolador web y xestor
Comment[ca]=Navegador i gestor web
Comment[ca@valencia]=Navegador i gestor web
Comment[cs]=Webový prohlížeč a správce
Comment[de]=Webbrowser und Verwaltung
Comment[en_GB]=Web Browser and Manager
Comment[es]=Navegador y gestor web
Comment[fi]=Verkkoselain ja -hallinta
Comment[fr]=Navigateur et gestionnaire Internet
Comment[hu]=Webböngésző és kezelő
Comment[it]=Browser e gestore web
Comment[nl]=Webbrowser en beheerder
Comment[nn]=Nettlesar og filhandsamar
Comment[pl]=Przeglądarka sieciowa wraz z zarządzeniem
Comment[pt]=Navegador Web e Gestor
Comment[pt_BR]=Navegador Web e gerenciador
Comment[sk]=Webový prehliadač a správca
Comment[sl]=Spletni brskalnik in upravljalnik
Comment[sv]=Webbläsare och hanterare
Comment[uk]=Програма для перегляду і керування сторінками інтернету
Comment[x-test]=xxWeb Browser and Managerxx
TryExec=Sol
Exec=Sol %U
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;Web;
GenericName=Web Browser
GenericName[ast]=Restolador web
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur Internet
GenericName[hu]=Webböngésző
GenericName[it]=Browser web
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[pl]=Przeglądarka sieciowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[uk]=Переглядач інтернету
GenericName[x-test]=xxWeb Browserxx
StartupNotify=true
Icon=maui-sol
